#informationHTwo{
    text-align: center;
    color: #006A52;
    margin-top: 40px;
    font-size: 30px;
}

#bePart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    margin-top: 50px;
}

.bePartRow{
    flex-basis: 18%;
    height: 300px;
    border: 6px solid #006A44;
    border-radius: 15px;
    background-color: #F8F7F3;
}

.bePartRow h3{
    color: #006A52;
    font-size: 20px;
}

.bePartRow h4{
    color: #006A52;
    font-size: 18px;
}

.bePartRow p{
    font-size: 15px;
    color: #006A52;
}

.firstPart{
    flex-basis: 60%;
}

.secondPart{
    flex-basis: 36%;
}


.bePartRow ul{
    margin-top: 50px;
}

.bePartRow li{
    text-align: left;
    font-size: 18px;
    color: #006A52;
}



#informationAbout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    margin-top: 100px;
    flex-wrap: wrap;
    
}

.howTo{
    flex-basis: 21%;
    height: 200px;
    border: 6px solid #006A44;
    border-radius: 15px;
    background-color: #F8F7F3;

}

.howTo h3{
    color: #006A52;
    font-size: 20px;
    text-decoration: underline;
}

.howTo p{
    color: #006A52;
    font-size: 15px;
}

#calender{
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
}

#calender h4{
    text-align: center;
    font-size: 25px;
    color:#006A52;
}

#calender table{
    width: 100%;
}

#calender table, th, td{
    border: 3px solid #006A44;
    border-collapse: collapse;
}

#calender td{
    padding-bottom: 13%;
}

#days{
    text-align: center;
    font-size: 18px;
    color: #006A44;
}

#days td{
    padding-bottom: 5%;
}




@media (min-width: 767px) {
    .menu-icon{
        display: none;
    }
}

@media (max-width: 768px) {

    .mobileClose{
        display: none;
    }
    .mobileNav.open{
        display: block;
    }
    
    #mobileText{
        display: block;
    }

    #bePart{
        flex-direction: column;
        gap: 0;
    }
    
    .bePartRow{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 30px;
        flex-basis: 250px;
    }

    .firstPart{
        flex-basis: 450px;
    }

    #informationAbout{
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 0;
    }

    .howTo{
        flex-basis: 150px;
        margin-left: 20%;
        width: 60%;
        margin-bottom: 30px;
    }

    #days{
        font-size: 14px;
    }
    #calender{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 80px;
    }
    #calender td{
        font-size: 12px;
    }
}

